<!DOCTYPE html>
<html>

<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Este gordito ama a su gordita! :)</title>

	<meta name="keywords" content="Pablo Angelone" />
	<meta name="description" content="El blog de Silvanita">
	<meta name="author" content="silvanagrosso.com">


</head>

<body data-spy="scroll" data-target=".wrapper-spy">
    <h1>Este gorsdito ama a su gordita! :)</h1>




    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-analytics.js"></script>

    <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyDxsBDtXcdD456GXEzcySCHp2Gn2FdLLpM",
        authDomain: "silvana-grosso.firebaseapp.com",
        databaseURL: "https://silvana-grosso.firebaseio.com",
        projectId: "silvana-grosso",
        storageBucket: "silvana-grosso.appspot.com",
        messagingSenderId: "658951936765",
        appId: "1:658951936765:web:01cbfb1d6878b6e542bc94",
        measurementId: "G-MDFRVG12HF"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    </script>
    
</body>

</html>